# Python
__pycache__/
*.pyc
*.pyd
*.pyo
.Python/
build/
dist/
*.egg-info/
.pytest_cache/
.coverage
.mypy_cache/
.venv/
env/

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating System
.DS_Store
Thumbs.db

# Converter specific
*.pdf
*.png # For temporary Mermaid.js images
*.mmd # For temporary Mermaid.js input files
*.html
